<h1>Welcome To my Full Stack Lab Project</h1>
<h2>Use the following link extenstions to see following apps output</h2>
<ul>
  <li>Current Date & Time -> /cdt/</li>
  <li>Date & Time after four hours -> /fha/</li>
  <li>Date & Time after four hours -> /fhb/</li>
  <li>Showlists -> /showlist/</li>
  <li>Home -> /home/</li>
  <li>About -> /about/</li>
  <li>Contact -> /contact/</li>
  <li>Regestration of students -> /reg/</li>
  <li>Add Project -> /add_project/</li>
  <li>Student List -> /student_list/</li>
  <li>Student Detail -> /student_detail/</li>
</ul>
